# MySQL connection credentials
.json

# Virtual Environment, logs etc...
.venv/
utils/__pycache__/
utils/__init__.py

# Spreadsheets
*.ods
*.csv

# Logs
logs/

# Zip files I make to share with the team
*.zip